<!DOCTYPE HTML>
<!--
    HEROKU - morning-shore-81565
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Heroku Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
</head>
<body>
<div class="container">
    <!-- ################################################################### -->
    <div class="page-header">
        <h1>Client - CRUD Spring</h1>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <form th:object="${insertClient}" method="POST">
                <div class="form-group">   
                    <label>Name</label>
                    <input id="name" type="text" class="form-control" placeholder="Name"/>
                    <label>LastName</label>                    
                    <input id="lastName" type="text" class="form-control" placeholder="Last Name" />
                    <label>Address</label>
                    <input id="address" type="text" class="form-control" placeholder="Address" />
                    <label>Phone</label>
                    <input id="phone" type="text" class="form-control" placeholder="Phone" />
                    <label>Email</label>
                    <input id="email" type="text" class="form-control" placeholder="Email" />
                </div>
                <button type="submit" class="btn btn-default">Enter Client</button>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Client Records</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="client : ${client}">
                        <td th:text="${client.name}">Some text</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- ################################################################### -->
    <hr />
    <!-- ################################################################### -->
    <div class="page-header">
        <h1>Data - CRUD Spring</h1>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <form th:object="${insertRecord}" method="POST">
                <div class="form-group">   
                    <label for="data">Data</label>
                    <input id="data" type="text" class="form-control" placeholder="Data" th:field="*{data}" />
                </div>
                <button type="submit" class="btn btn-default">Enter Data</button>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Records</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="record : ${records}">
                        <td th:text="${record.data}">Some text</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- ################################################################### -->
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>